<div class="d-flex flex-column align-items-center posts">
  <% @posts.each do |post| %>
      <%= image_tag post.image, class: "post-image img-fluid" if post.image.attached? %>
     <h1 class="post-name"><%= post.name %></h1>
    <p class="post-body">
    <%= post.body%>
    </p>
    <% if current_user.try(:admin?) %>
        <%= link_to "Edit Post", edit_post_path(post), class: 'btn btn-primary btn-lg' %>
      <%= link_to 'Delete', post_path(post),  class: 'btn btn-primary btn-lg  mt-2', method: :delete, data: {confirm: "Are you sure"} %>
    <% end %>
  <% end %>
  </div>
<% if current_user.try(:admin?) %>
  <%= link_to "New Post", new_post_path, class: 'btn btn-primary btn-lg mt-2 mb-5' %>
<% end %>